body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#image {
    margin: 20px;
    border: 2px solid black;
}

#buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

#image {
    margin: 0 auto;
    border: 2px solid black;
}
